body {
  font-family: "Poppins", sans-serif;
  background-color: #0A0A0A;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

h2 {
  border-bottom: 2px solid #F922A3;
}

#questionsContainer div {
  padding: 10px 0;
}

#questionsContainer div:not(:last-child) {
  border-bottom: 2px solid #7E0462;
}

#questionsContainer p {
  color: #666;
  margin-top: 10px;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

input[type="radio"] {
  width: auto;
  margin: 0 5px;
}

#submitContainer {
  margin-top: 20px;
  text-align: center;
}

button[type="submit"],
input[type="submit"] {
  width: 100%;
  background-color: #0c9b66;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background-color: #84d5b9;
}

details {
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 10px;
}

summary {
  font-weight: bold;
  color: #727581;
  cursor: pointer;
}

summary:hover {
  color: #004494;
}

summary::-webkit-details-marker {
  display: none;
}

details p {
  padding: 5px 0;
  margin: 0;
}

details p strong {
  color: #212529;
}

.High-score {
  background-color: #DFF0D8;
  border-left: 4px solid #28a745;
  padding: 8px;
  margin-top: 20px;
}

.Medium-score {
  background-color: #FCF8E3;
  border-left: 4px solid #ffc107;
  padding: 8px;
  margin-top: 20px;
}

.Low-score {
  background-color: #F2DEDE;
  border-left: 4px solid #dc3545;
  padding: 8px;
  margin-top: 20px;
}

.copy-button {
  background-color: #905ff0 !important;
}

.interpretation-button {
  background-color: #E10E71 !important;
}
